@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../src/App.scss";


//COLOR PALETTE

$mainBg: black;
$containerBg: rgb(8, 7, 12);
$textColor: white;
$buttonBg: red;
$buttonText: #333;


:root{
  background-image: url("https://cdn.pixabay.com/photo/2020/09/19/14/47/pokeball-5584675_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: $textColor;
  font-family: Inter,sans-serif;
}


 .Form, .PokeAttributes, .PokeDetails, .PokeImage{
    border-radius: 1em;
    border: 2px solid white;
    padding: 1em;
    // ADD BELOW GLASS EFFECT
    background: transparent;       
    backdrop-filter: blur(30px);   
 }

 button{
  background: $buttonBg;
  font-family: monospace;
  padding: 1em;
  margin: 1em;
  border: 2px white solid;
  border-radius: 1em;
 }

 input{
  padding: 1em;
  border-radius: 1em;
  font-weight: bold;
  color: $buttonText;
  
 }